section.guarantees
    h3.guarantees__title Какие гарантии мы даем?
    .guarantees-info.container
        figure.guarantees-info__item
            img.guarantees-info__img(src=require("../../svg/moneyback.svg").url, alt="Если какой-то прогноз не заходит, замену даём бесплатно")
            figcaption.guarantees-info__text Если какой-то прогноз не заходит, замену даём бесплатно
        figure.guarantees-info__item
            img.guarantees-info__img(src=require("../../svg/pay.svg").url, alt="Мы сами ставим на свои прогнозы")
            figcaption.guarantees-info__text Мы сами ставим на свои прогнозы
        figure.guarantees-info__item
            img.guarantees-info__img(src=require("../../svg/official.svg").url, alt="Официальные реквизиты. Все наши кошельки идентифицированы")
            figcaption.guarantees-info__text Официальные реквизиты. Все наши кошельки идентифицированы
        figure.guarantees-info__item
            img.guarantees-info__img(src=require("../../svg/help.svg").url, alt="Быстрая и профессиональная помощь любому новичку")
            figcaption.guarantees-info__text Быстрая и профессиональная помощь любому новичку
        figure.guarantees-info__item
            img.guarantees-info__img(src=require("../../svg/mustache-beard.svg").url, alt="Большая команда, где один прогнозист работает с одним видом спорта")
            figcaption.guarantees-info__text Большая команда, где один прогнозист работает с одним видом спорта
        figure.guarantees-info__item
            img.guarantees-info__img(src=require("../../svg/chart.svg").url, alt="Разумные коэффициенты и высокая проходимость")
            figcaption.guarantees-info__text Разумные коэффициенты и высокая проходимость
    .guarantees__divider
        include ../layout/_right-divider
